
#header-section
{
    background-color: antiquewhite;
}
#dashboard-home
{
    /* height: 20vh; */
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F3C7E;
    padding: 10px;
}
#dashboard-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topnav
{
    width: 100%;
}
#category-list
{
    background-color:#FBEAEB;
   
    border-radius: 10px;
    padding: 20px;
}
/* .search-btn  
{
    width: 20px;
    height: 30px;
} */
#categories
{
    /* display: inline; */
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    justify-content: space-between;

    /* align-items: center; */
}
#categories:hover
{
    cursor: pointer;
    /* color: red; */
}
#cards
{
    margin-top: 10px;
}

  .category-components:hover {
    top: -10px;
    left: -10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
   
    
  }
  
  
  /* #dashboard-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
/* .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   */
.product-card-container {
    flex: 0 0 calc(33.33% - 20px);
    min-width: 200px;
    margin: 10px;
  }
#dashboard-heading
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
